.vscode
releases/ArchLinux*
uboot
blob
pkg
build/*/*
native_build/cross
native_build/build/uboot-amlogic-ophub/u-boot-e900v22c.bin
native_build/build/uboot-amlogic-ophub/u-boot-zyxq.bin
native_build/build_cross/linux-aarch64-flippy/kernel.tar
native_build/build_cross/linux-aarch64-flippy/headers.tar
native_build/build/uboot-amlogic-ophub/u-boot-gtking.bin
native_build/build/uboot-amlogic-ophub/u-boot-gtkingpro-rev-a.bin
native_build/build/uboot-amlogic-ophub/u-boot-gtkingpro.bin
native_build/build/uboot-amlogic-ophub/u-boot-n1.bin
native_build/build/uboot-amlogic-ophub/u-boot-odroid-n2.bin
native_build/build/uboot-amlogic-ophub/u-boot-p201.bin
native_build/build/uboot-amlogic-ophub/u-boot-p212.bin
native_build/build/uboot-amlogic-ophub/u-boot-r3300l.bin
native_build/build/uboot-amlogic-ophub/u-boot-s905.bin
native_build/build/uboot-amlogic-ophub/u-boot-s905x-s912.bin
native_build/build/uboot-amlogic-ophub/u-boot-s905x2-s922.bin
native_build/build/uboot-amlogic-ophub/u-boot-sei510.bin
native_build/build/uboot-amlogic-ophub/u-boot-sei610.bin
native_build/build/uboot-amlogic-ophub/u-boot-skyworth-lb2004.bin
native_build/build/uboot-amlogic-ophub/u-boot-tx3-bz.bin
native_build/build/uboot-amlogic-ophub/u-boot-tx3-qz.bin
native_build/build/uboot-amlogic-ophub/u-boot-u200.bin
native_build/build/uboot-amlogic-ophub/u-boot-ugoos-x3.bin
native_build/build/uboot-amlogic-ophub/u-boot-x96max.bin
native_build/build/uboot-amlogic-ophub/u-boot-x96maxplus.bin
native_build/build_cross/linux-aarch64-flippy/dtbs.tar
native_build/build_cross/linux-aarch64-orangepi-zero3/dtbs.tar
native_build/build_cross/linux-aarch64-orangepi-zero3/headers.tar
native_build/build_cross/linux-aarch64-orangepi-zero3/kernel.tar
