[submodule "aur/ampart-git"]
	path = aur/ampart-git
	url = https://aur.archlinux.org/ampart-git.git
[submodule "aur/uboot-legacy-initrd-hooks"]
	path = aur/uboot-legacy-initrd-hooks
	url = https://aur.archlinux.org/uboot-legacy-initrd-hooks.git
[submodule "aur/linux-firmware-amlogic-ophub"]
	path = aur/linux-firmware-amlogic-ophub
	url = https://aur.archlinux.org/linux-firmware-amlogic-ophub.git
[submodule "aur/yay"]
	path = aur/yay
	url = https://aur.archlinux.org/yay.git
[submodule "aur/linux-aarch64-flippy"]
	path = aur/linux-aarch64-flippy
	url = https://aur.archlinux.org/linux-aarch64-flippy.git
[submodule "alarm-builder-common"]
	path = common
	url = https://github.com/7Ji/alarm-builder-common.git
